.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100dvh - 64px);
	width: 337px;
	min-width: 337px;
	margin-left: -337px;
	padding: 28px 32px;
	box-shadow: var(--beltamozh-box-shadow);
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transform: translate(-100%);
	transition: opacity var(--beltamozh-default-transition), visibility var(--beltamozh-default-transition),
				transform var(--beltamozh-default-transition), margin-left var(--beltamozh-default-transition);

	&.active {
		opacity: 1;
		visibility: visible;
		transform: translate(0);
		margin-left: 0;
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		img {
			transition: transform var(--beltamozh-default-transition);
			transform: rotate(180deg);
		}

		&.active {
			img {
				transform: rotate(0);
			}
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 400;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 25px;
		margin-top: 20px;
	}

	&__profile {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__name {
		transition: font-weight var(--beltamozh-default-transition), color var(--beltamozh-default-transition);
		cursor: pointer;

		&:hover,
		&.active {
			color: var(--beltamozh-color-blue);
		}

		&.active {
			font-weight: 500;
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1;
		width: 25px;
		background-color: var(--beltamozh-color-blue);
		border-radius: 50%;
	}
}