.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100dvh;
	width: 337px;
	padding: 28px 32px;
	box-shadow: var(--beltamozh-box-shadow);
	z-index: 100;

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;

		img {
			transition: transform var(--beltamozh-default-transition);
			transform: rotate(180deg);
		}

		&.active {
			img {
				transform: rotate(0);
			}
		}
	}

	&__title {
		font-size: 20px;
		font-weight: 400;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 25px;
		margin-top: 20px;
	}

	&__profile {
		display: flex;
		align-items: center;
		gap: 20px;
	}

	&__name {
		transition: font-weight var(--beltamozh-default-transition), color var(--beltamozh-default-transition);
		cursor: pointer;

		&:hover,
		&.active {
			color: #0f4c82;
		}

		&.active {
			font-weight: 500;
		}
	}

	&__checkbox {
		display: flex;
		align-items: center;
		justify-content: center;
		aspect-ratio: 1;
		width: 25px;
		background-color: var(--beltamozh-color-blue);
		border-radius: 50%;
	}
}