:root {
  --beltamozh-color-white: #fff;
  --beltamozh-color-grey: #ededed;
  --beltamozh-color-black: #000;
  --beltamozh-color-blue: #0F4C82;

  --beltamozh-box-shadow: 0px 4px 9px 0px #00000040;

  --beltamozh-default-transition: 0.3s ease-in-out;
}